{#
/**
 * @file cloudconvert_task.html.twig
 * Default theme implementation to present CloudConvert Task data.
 *
 * This template is used when viewing CloudConvert Task pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cloudconvert_task()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cloudconvert_task') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
